h1{
    color: rgb(14, 15, 14);
    text-decoration: solid;
    text-align: center;
    font-style: normal;
    padding: 3rem;
    :hover{
        color: aliceblue;
    }
}
h2{
    color:rgb(3, 4, 3);
    margin-left: 10%;
    margin-bottom: 5rem;
}