.contenedor__general {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 0 auto; 
    .div__cards {
        opacity: 85;
        background-color: cadetblue;
        color: white;
        width: 300px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            :hover{
                opacity: 100;
                background-color: rgb(76, 76, 81);
                border-radius: 30px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        
            }
  
            .img__cards {
                margin-top: 1rem;
                width: 200px;
                height: 200px;  
                border-radius: 50%;
                margin-bottom: 10px;
                
            }
    }
}